//====================================================================================================
.footer {
	background: $mainColorFooter;
	@include adaptiveValue("padding-top", 83, 30);
	padding-bottom: rem(20);
	width: 100%;
	// .footer__container
	&__container {
	}
	// .footer__button
	&__button {
		text-align: center;
	}
	// .footer__btn
	&__btn {
		//margin-bottom: rem(83);
		@include adaptiveValue("margin-bottom", 83, 30);
	}
	// .footer__menu
	&__menu {
	}
}

.menu-footer {
	font-family: "Roboto Condensed", sans-serif;
	// padding-bottom: rem(20);	
	// .menu__body
	// &__body {
	// 	ul li:not(:last-child) {
	// 		border-right: rem(3) solid #fff;
	// 	}
	// }

	&__body {
		& li + li::before {
			content: "|";
		}
	}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: rem(20);
	}
	// .menu__link
	&__link {
		font-size: rem(24);
		line-height: math.div(28, 24);
		font-weight: 700;
		padding: 0 rem(14);
		transition: all 0.5s easy;
		&:hover {
			text-decoration: underline;
		}
	}
}

//====================================================================================================
