//====================================================================================================
.footer {
	background: $mainColorFooter;
	//margin: 0 auto;
	padding-top: rem(83);
	width: 100%;
	// .footer__container
	&__container {
	}
	// .footer__button
	&__button {
		text-align: center;
	}
	// .footer__btn
	&__btn {
		margin-bottom: rem(131);
	}
	// .footer__menu
	&__menu {
	}
}

.menu {
	font-family: "Roboto Condensed", sans-serif;
	padding-bottom: rem(20);	
	// .menu__body
	&__body {
		ul li:not(:last-child) {
			border-right: rem(3) solid #fff;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	// .menu__link
	&__link {
		font-size: rem(24);
		line-height: math.div(28, 24);
		font-weight: 500;
		padding: 0 rem(14);
		transition: all 0.5s easy;
		&:hover {
			text-decoration: underline;
		}
	}
}

//====================================================================================================
