.slaider {
	// .slaider__image-ibg
	&__image {
		position: relative;
		img {
			max-width: 100%;
			vertical-align: middle;
			width: 100%;
			flex: 1 0 100%;
		}
	}
}

//========================================================================================================================================================
//====================================================================================================
.characteristics {
	//background-color: rgb(26, 2, 124);
	@include adaptiveValue("padding-top", 100, 25);
	@include adaptiveValue("padding-bottom", 50, 25);
	// .characteristics__container
	&__container {
	}

	// .characteristics__items
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 24px;
		line-height: math.div(28, 24);
		gap: rem(70);
	}
	&__column {
		display: flex;
		@media (max-width: $tablet) {
			flex: 1 1 100%;
		}
	}
	// .characteristics__item
	&__item {
		margin: 0 auto;
	}
	// .characteristics__name
	&__name {
	}
	// .characteristics__number
	&__number {
		font-family: "Roboto", sans-serif;
		font-size: 96px;
		line-height: math.div(112, 96);
		span {
			font-size: 24px;
			line-height: math.div(28, 24);
			margin:auto;
			margin-left: rem(5);
			position: relative;
		}
		&_speed {
			display: inline-block;
			::before {
				content: "+";
				position: absolute;
				top: rem(-60);
			}
		}
	}
	// .characteristics__index
	&__index {
		color: $mainColorRed;
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
.clip {
	// background-color: #190253;
	@include adaptiveValue("padding-top", 50, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	// .clip__container
	&__container {
		//position: relative;
	}
	// .clip__video
	&__video {	
		position: relative;	
		iframe {
			width: 100%;
			height: rem(675);
			object-fit: cover;
		}
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
.speed {
	font-family: "Roboto Condensed", sans-serif;
	@include adaptiveValue("padding-top", 50, 25);
	@include adaptiveValue("padding-bottom", 50, 50);

	// .speed__container
	&__container {
	}
	// .speed__row
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		//column-gap: rem(30);
		row-gap: rem(100);
		@include adaptiveValue("row-gap", 100, 25);
		// @include adaptiveValue("column-gap", 56, 20);
	}
	// .speed__column
	&__column {
		position: relative;
		padding: 0 rem(15);
		flex: 0 1 50%;
		/*запрещаем увеличиваться, разрешем уменьшаться, устанвливаем одинаковую ширину*/
	}
}

.items {
	max-width: rem(570);
	position: relative;
	align-content: space-between;
	@media (max-width: $tablet) {
		flex: 1 1 100%;
		margin: 0 auto;
	}
	&_2 {
		align-content: space-between;
		height: 100%;
	}
	// .items__title
	&__title {
		font-size: 36px;
		@include adaptiveValue("font-size", 36, 24);
		line-height: math.div(42, 36);
		color: $mainColorRed;
		&_1 {
			//margin-bottom: rem(100);
			@include adaptiveValue("margin-bottom", 100, 30, 1200, 600, 1);
		}
		&_2 {
			position: absolute;
			// top: 170%;
			//align-self:flex-end;
			right: 0;
		}
	}
	// .items__text
	&__text {
		max-width: rem(303);
		font-size: 24px;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(28, 24);
		&_1 {
		}
		&_2 {
			//margin-top: rem(94);
			@include adaptiveValue("margin-top", 94, 10, 1200, 700, 1);
			// margin-bottom: rem(100);
			@include adaptiveValue("margin-bottom", 100, 10, 1200, 700, 1);
		}
	}
	// .items__image
	&__image {
		position: relative;
		img {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
.design {
	@include adaptiveValue("padding-top", 50, 30);
	@include adaptiveValue("padding-bottom", 100, 30);
	// .design__container
	&__container {
		display: flex;
		flex-direction: column;
	}
	//design__image
	&__image {
		@include adaptiveValue("margin-bottom", 100, 10);
		position: relative;
		img {
			max-width: 100%;
		}
	}
	// .design__row
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: rem(20);
		@include adaptiveValue("column-gap", 56, 20);
	}
	// .design__column
	&__column {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: rem(572);
		font-family: "Roboto Condensed", sans-serif;
		font-size: 24px;
		@include adaptiveValue("font-size", 24, 14);
		line-height: math.div(28, 24);
		@media (max-width: $tablet) {
			margin: 0 auto;
		}
	}
	// .design__number
	&__number {
		color: $mainColorRed;
	}
	// .design__text
	&__text {
		max-width: rem(450);
		margin-left: rem(106);
		//@include adaptiveValue("margin-left", 106, 60, 1600, 960, 1);
		@media (max-width: $mobile) {
			@include adaptiveValue("margin-left", 106, 30);
		}
	}
}
